<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Departments</h1>
    <p>Welcome to the Departments page. This section allows you to manage and organize the departments within your organization.</p>
    <a href="/">Back</a>
    <br>
    <a href="/new_department">Add New Department</a>
    <br>
    <hr>
    <table>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Manager</th>
        </tr>
        {% for department in departments %}
        <tr>
            <th>{{ department.dept_id }}</th>
            <th>{{ department.dept_name }}</th>
            <th>{{ department.manager_employee_id }}</th>
            <td><a href="/edit_department/{{ department.dept_id }}">Edit</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
