<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Devices</h1>
    <p>Welcome to the Devices page. Here, you can explore and manage the devices used within your organization as well as add a new device.</p>
    <a href="/">Back</a>
    <br>
    <a href="/new_device">Add New Device</a>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Type</th>
                <th>Access Level</th>
                <th>USB Access</th>
                <th>Employee ID</th>
            </tr>
        </thead>
    </table>   
</body>


</html>
