<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
</head>

<body>
    <h1>Add Role</h1>
    <p>This section allows you to add a role to the Hex Heros IT Management system.</p>
    <a href="/roles">Back</a>
    <br>
    <hr>
    <form title="new_role" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        <label for="access_level">Access Level:</label>
        <input type="text" id="access_level" name="access_level">
        <input type="submit" value="Submit"><br>
        <br>
    </form>
</body>

</html>
