<!-- 
  This file uses the link for icons as well as some html/css from bootstrap for the form
  Date: 5/30/2023
  Based off:
  Source URL: https://stackoverflow.com/questions/54087985/i-cant-get-my-font-awesome-icons-to-show-up-tried-importing-css-with-multiple
              https://epicbootstrap.com/snippets/registration
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
</head>

<body>
    <h1>Add Role</h1>
    <p>This section allows you to add a role to the Hex Heros IT Management system.</p>
    <a href="/roles" button class="btn"><i class="fa fa-close"></i>Back</a>
    <br>
    <br>
    <div class="container">
        <form title="new_role" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <br>
            <div class="form-group">
                <label for="access_level">Access Level:</label>
                <select id="access_level" name="access_level">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="legend">
                <h4>Access Level Legend</h4>
                <ol>
                    <li>Local Access - Minimal Access</li>
                    <li>Local Access - Software User</li>
                    <li>Local Access - Software Engineering</li>
                    <li>Local Access - Database Admin</li>
                    <li>Local Access - IT Development</li>
                    <li>Local Access - IT Management</li>
                    <li>Local Access - Full Rights</li>
                    <li>Divisional Access</li>
                    <li>Regional Access</li>
                    <li>Full Enterprise Access</li>
                </ol>
            </div>
            <button type="submit" class="button-1" value="Submit">Submit</button>
        </form>
    </div>
</body>

</html>
