<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
</head>

<body>
    <h1>Add Department</h1>
    <p>This section allows you to add a department to the Hex Heros IT Management system.</p>
    <a href="/departments">Back</a>
    <br>
    <h4>New Department</h4>
    <p>Add a new department</p>
    <form title="new_department" method="post">
        <label for="dept_name">Department Name:</label>
        <input type="text" id="dept_name" name="dept_name">
        <label for="manager_employee_id">Manager:</label>
        <input type="number" id="manager_employee_id" name="manager_employee_id">
        <input type="submit" value="Submit"><br>
        <br>
    </form>
</body>

</html>
