<!-- 
  This file uses pre-made icons 
  Date: 5/30/2023
  Based off:
  Source URL: https://www.w3schools.com/howto/howto_css_icon_buttons.asp
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
</head>

<body>
    <h1>Passwords</h1>
    <p>This section shows the passwords for employees in the Hex Heros IT Management system.</p>
    <a href="/" button class="btn"><i class="fa fa-home"></i>  Home</a></button>
    <br>
    <br>
    <br>
    <table>
        <tr>
            <th>Password ID</th>
            <th>Password</th>
            <th>Request Change</th>
            <th>Employee ID</th>
            <th>Delete</th>
        </tr>
        {% for pass in passwords %}
        <tr>
            <td>{{ pass.password_id }}</td>
            <td>{{ pass.password }}</td>
            <td>{{ pass.req_change }}</td>
            <td>{{ pass.employee_id }}</td>
            <td><a href="/delete_password/{{ pass.password_id }}" class="delete-icon"><i class="fas fa-trash-alt"></i></td>
        </tr>
        {% endfor %}
    </table>
    <h4>New Password</h4>
    <p class="left-align ">Add a new password in the Hex Heros IT Management system.</p>
    <form title="new_password" method="post">
        <div class="form-container">
            <input type="hidden" name="form_type" value="new_password">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <br>
            <label for="req_change">Request Change:</label>
            <select id="req_change" name="req_change"><br>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <br>
            <label for="employee_id">Employee:</label>
            <select id="employee_id" name="employee_id">
                    {% for employee in employees %}
                    <option value="{{ employee['employee_id'] }}">{{ employee['first_name'] }} {{ employee['last_name'] }}</option>
                    {% endfor %}
            </select>
            <button type="submit" class="button-3" value="Submit">Submit</button><br>
        </div>
    </form>
</body>

</html>
