<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Passwords</h1>
    <p>This section shows the passwords for employees in the Hex Heros IT Management system.</p>
    <a href="/">Back</a>
    <h4>New Password</h4>
    <p>Add a new password in the Hex Heros IT Management system.</p>
    <form title="new_password" method="post">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">
        <label for="req_change">Request Change:</label>
        <input type="number" id="req_change" name="req_change" min="0" max="1">
        <label for="employee_id">Employee ID:</label>
        <input type="number" id="employee_id" name="employee_id">
        <input type="submit" value="Submit"><br>
        <br>
    </form>
    <hr>
    <table>
        <tr>
            <th>Password ID</th>
            <th>Password</th>
            <th>Request Change</th>
            <th>Employee ID</th>
        </tr>
        <tr>
            {% for pass in passwords %}
            <tr>
                <th>{{ pass.password_id }}</th>
                <th>{{ pass.Password }}</th>
                <th>{{ pass.req_change }}</th>
                <th>{{ pass.employee_id }}</th>
                <td><a href="/delete_password/{{ pass.password_id }}">Delete</td>
            </tr>
            {% endfor %}
    </table>
</body>

</html>
