<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hex Heros IT Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table,
        th,
        td {
            border: 1px solid;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Roles</h1>
    <p>Welcome to the Roles page. This section provides an overview of the different roles within your organization. Here, you can explore the various roles, their titles, and the corresponding manager.</p>
    <a href="/">Back</a>
    <br>
    <a href="/new_role">Add New Role</a>
    <hr>
    <table>
        <tr>
            <th>Role ID</th>
            <th>Role Title</th>
            <th>Access Level</th>
        </tr>
        {% for role in roles %}
        <tr>
            <th>{{ role.role_id }}</th>
            <th>{{ role.title }}</th>
            <th>{{ role.access_level }}</th>
            <td><a href="/delete_role/{{ role.role_id }}">Delete</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>
